<a href="https://colab.research.google.com/github/FilipeSCampos/Analise-de-Dados/blob/main/Analise_de_sentimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install python-twitter-v2
!pip install snscrape
!pip install textblob
!pip install unidecode
!pip install googletrans==4.0.0rc1

In [2]:
import pandas as pd
import snscrape.modules.twitter as dados
import datetime
from textblob import TextBlob
from unidecode import unidecode

In [3]:
lista_tweets_neymar = []

data_final = datetime.date.today()
data_inicial = '2022-1-1'

In [4]:
for i,tweet in enumerate(dados.TwitterSearchScraper(f'{"Neymar"} + since:{data_inicial} until:{data_final}').get_items()):
  if i>250:
    break
  lista_tweets_neymar.append([tweet.date, tweet.id, tweet.content, tweet.username])

<ipython-input-4-43d31aaad76c>:4: FutureWarning: username is deprecated, use user.username instead
  lista_tweets_neymar.append([tweet.date, tweet.id, tweet.content, tweet.username])

In [5]:
df_op = pd.DataFrame(lista_tweets_neymar, columns=['Datetime','Tweetid','Text','Username'])
display(df_op)

,Datetime,Tweetid,Text,Username
0,2023-01-05 23:59:58+00:00,1611150544986378241,@pachecs_peter @futtmais Cara hoje eu prefiro ...,MerdiCommander
1,2023-01-05 23:59:44+00:00,1611150488858230786,MDS s√≥ agr que eu descobri que o Neymar aparec...,iisahxll
2,2023-01-05 23:59:41+00:00,1611150476220694530,@Rf7gg Esses 4 gols e 1 t√≠tulo do Mbappe conti...,Mrcos77
3,2023-01-05 23:59:31+00:00,1611150433204027392,üíâFOOTBALLERS CREATE VACCINES!üíâFeat Ronaldo Ney...,ScriptCards
4,2023-01-05 23:59:31+00:00,1611150432230940672,üíâFOOTBALLERS CREATE VACCINES!üíâFeat Ronaldo Ney...,DarylDoc22
...,...,...,...,...
246,2023-01-05 23:32:14+00:00,1611143567245713408,Neymar lendo isso: üò° https://t.co/s8D4bWni4f,vitorimpieri
247,2023-01-05 23:31:59+00:00,1611143504331169793,@Encu5Futbol üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åøhaland\nüáÆüáπibraikmovich\nüá™üá∏...,elgordovecchio1
248,2023-01-05 23:31:58+00:00,1611143500447227906,@razzykuti90 @EtuboLion Really if you want to ...,Vybez_R
249,2023-01-05 23:31:54+00:00,1611143483166687232,Interesting stuff on neymids ‚Äò26 hopes. Ronald...,noowaayhomie
250,2023-01-05 23:31:44+00:00,1611143439369863170,tirei o neymar no ut e nada mais me abala,kazimdeoz

In [6]:
numPos = 0
numNeg = 0
total = 0

In [7]:
textPT = df_op['Text'].apply(unidecode)
display(textPT)

0      @pachecs_peter @futtmais Cara hoje eu prefiro ...
1      MDS so agr que eu descobri que o Neymar aparec...
2      @Rf7gg Esses 4 gols e 1 titulo do Mbappe conti...
3      FOOTBALLERS CREATE VACCINES!Feat Ronaldo Neyma...
4      FOOTBALLERS CREATE VACCINES!Feat Ronaldo Neyma...
                             ...
246          Neymar lendo isso:  https://t.co/s8D4bWni4f
247    @Encu5Futbol haland\nibraikmovich\ngavi\ngotze...
248    @razzykuti90 @EtuboLion Really if you want to ...
249    Interesting stuff on neymids '26 hopes. Ronald...
250            tirei o neymar no ut e nada mais me abala
Name: Text, Length: 251, dtype: object

In [9]:
from googletrans import Translator
translator = Translator()
sentimento_neymar= []

In [ ]:
for x in textPT:
    textEN = translator.translate(x).text
    sentimento = TextBlob(textEN)
    sentimento_neymar.append(sentimento.polarity) 
display(sentimento_neymar)

In [11]:
total = len(sentimento_neymar)
display(total)

251

In [12]:
for valor in sentimento_neymar:
  if valor > 0:
    numPos += 1
  elif valor < 0:
    numNeg += 1

In [13]:
mediapositiva = numPos/total
medianegativa = numNeg/total
print('Porcentagem de coment√°rios positivos: '+str(mediapositiva))
print('Porcentagem de coment√°rios negativos: '+str(medianegativa))

Porcentagem de coment√°rios positivos: 0.32669322709163345
Porcentagem de coment√°rios negativos: 0.12350597609561753

In [14]:
dados = {'Valores+' :[numPos],
         'Valores-' :[numNeg],
         'Media+':[mediapositiva],
         'Media-':[medianegativa],
         'Total':[total]}

dados_df = pd.DataFrame(dados)
display(dados_df)

   Valores+  Valores-    Media+    Media-  Total
0        82        31  0.326693  0.123506    251