<a href="https://colab.research.google.com/github/FilipeSCampos/Analise-de-Dados/blob/main/brasileirao%2Blookerstudio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://www.cnnbrasil.com.br/esporte/futebol/tabela-brasileirao-serie-a-2022/'
html_cnn = pd.read_html(url)
tabelacnn = html_cnn[0]
display(tabelacnn)

                   Classificação   p   j   v   e   d   g  gc  sg
0              1  Palmeiras  PAL  81  38  23  12   3  66  27  39
1          2  Internacional  INT  73  38  20  13   5  58  31  27
2             3  Fluminense  FLU  70  38  21   7  10  63  41  22
3            4  Corinthians  COR  65  38  18  11   9  44  36   8
4               5  Flamengo  FLA  62  38  18   8  12  60  39  21
5           6  Athletico-PR  CAP  58  38  16  10  12  48  48   0
6            7  Atlético-MG  CAM  58  38  15  13  10  45  37   8
7              8  Fortaleza  FOR  55  38  15  10  13  46  39   7
8              9  São Paulo  SAO  54  38  13  15  10  55  42  13
9            10  América-MG  AMG  53  38  15   8  15  40  40   0
10             11  Botafogo  BOT  53  38  15   8  15  41  43  -2
11               12  Santos  SAN  47  38  12  11  15  44  41   3
12                13  Goiás  GOI  46  38  11  13  14  40  53 -13
13  14  Red Bull Bragantino  RBB  44  38  11  11  16  49  59 -10
14             15  Coritiba  CFC  42  38  12   6  20  39  60 -21
15               16  Cuiabá  CUI  41  38  10  11  17  31  42 -11
16                17  Ceará  CEA  37  38   7  16  15  34  41  -7
17          18  Atlético-GO  AGO  36  38   8  12  18  39  57 -18
18                 19  Avaí  AVA  35  38   9   8  21  34  60 -26
19            20  Juventude  ECJ  22  38   3  13  22  29  69 -40

In [ ]:
tabelacnn['UF'] = ['SP','RS','RJ','SP','RJ','PR','MG','CE','SP','MG','RJ','SP','GO','SP','PR','MT','CE','GO','SC','RS']
display(tabelacnn)

                   Classificação   p   j   v   e   d   g  gc  sg  UF
0              1  Palmeiras  PAL  81  38  23  12   3  66  27  39  SP
1          2  Internacional  INT  73  38  20  13   5  58  31  27  RS
2             3  Fluminense  FLU  70  38  21   7  10  63  41  22  RJ
3            4  Corinthians  COR  65  38  18  11   9  44  36   8  SP
4               5  Flamengo  FLA  62  38  18   8  12  60  39  21  RJ
5           6  Athletico-PR  CAP  58  38  16  10  12  48  48   0  PR
6            7  Atlético-MG  CAM  58  38  15  13  10  45  37   8  MG
7              8  Fortaleza  FOR  55  38  15  10  13  46  39   7  CE
8              9  São Paulo  SAO  54  38  13  15  10  55  42  13  SP
9            10  América-MG  AMG  53  38  15   8  15  40  40   0  MG
10             11  Botafogo  BOT  53  38  15   8  15  41  43  -2  RJ
11               12  Santos  SAN  47  38  12  11  15  44  41   3  SP
12                13  Goiás  GOI  46  38  11  13  14  40  53 -13  GO
13  14  Red Bull Bragantino  RBB  44  38  11  11  16  49  59 -10  SP
14             15  Coritiba  CFC  42  38  12   6  20  39  60 -21  PR
15               16  Cuiabá  CUI  41  38  10  11  17  31  42 -11  MT
16                17  Ceará  CEA  37  38   7  16  15  34  41  -7  CE
17          18  Atlético-GO  AGO  36  38   8  12  18  39  57 -18  GO
18                 19  Avaí  AVA  35  38   9   8  21  34  60 -26  SC
19            20  Juventude  ECJ  22  38   3  13  22  29  69 -40  RS

In [ ]:
tabelacnn['Títulos'] = ['10','3','4','7','7','1','2','0','6','0','2','8','0','0','1','0','0','0','0','0']
display(tabelacnn)

                   Classificação   p   j   v   e   d   g  gc  sg  UF Títulos
0              1  Palmeiras  PAL  81  38  23  12   3  66  27  39  SP      10
1          2  Internacional  INT  73  38  20  13   5  58  31  27  RS       3
2             3  Fluminense  FLU  70  38  21   7  10  63  41  22  RJ       4
3            4  Corinthians  COR  65  38  18  11   9  44  36   8  SP       7
4               5  Flamengo  FLA  62  38  18   8  12  60  39  21  RJ       7
5           6  Athletico-PR  CAP  58  38  16  10  12  48  48   0  PR       1
6            7  Atlético-MG  CAM  58  38  15  13  10  45  37   8  MG       2
7              8  Fortaleza  FOR  55  38  15  10  13  46  39   7  CE       0
8              9  São Paulo  SAO  54  38  13  15  10  55  42  13  SP       6
9            10  América-MG  AMG  53  38  15   8  15  40  40   0  MG       0
10             11  Botafogo  BOT  53  38  15   8  15  41  43  -2  RJ       2
11               12  Santos  SAN  47  38  12  11  15  44  41   3  SP       8
12                13  Goiás  GOI  46  38  11  13  14  40  53 -13  GO       0
13  14  Red Bull Bragantino  RBB  44  38  11  11  16  49  59 -10  SP       0
14             15  Coritiba  CFC  42  38  12   6  20  39  60 -21  PR       1
15               16  Cuiabá  CUI  41  38  10  11  17  31  42 -11  MT       0
16                17  Ceará  CEA  37  38   7  16  15  34  41  -7  CE       0
17          18  Atlético-GO  AGO  36  38   8  12  18  39  57 -18  GO       0
18                 19  Avaí  AVA  35  38   9   8  21  34  60 -26  SC       0
19            20  Juventude  ECJ  22  38   3  13  22  29  69 -40  RS       0

In [ ]:
tabelacnn.to_excel('tabelacnn.xlsx', index = False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#link do looker studio com os dados desse notebook https://datastudio.google.com/reporting/546e1325-a5cd-42c6-bc96-6c3e4ee90878